


<!--
<div class="container bg-primary m-5 p-5 text-white ">
  <div class="row">
    <div class="col-lg-6">
      <h3> Parent Component -> </h3>
      Enter Product : <input type="text" [(ngModel)]="currentproduct"/>
      <br>
     <h3>Parent Two way binding : {{currentproduct}}</h3>
  </div>

  <div class="col-lg-6">

      <h3>Child Component -> </h3>
      <app-cart [itemname]="currentproduct"></app-cart>

  </div>
</div>
</div>
<br>
-->


<div class="container bg-primary m-5 p-5">
  <h3 class="text-center mb-5"> Product Details </h3>

    <form class="form-group">
        <input type="text" name="prnm" id="prnm"
        placeholder="Product Name" class="form-control" [(ngModel)]="prdt.prnm"/><br>

        <input type="text" name="price" id="price"
        placeholder="Price" class="form-control" [(ngModel)]="prdt.price"/><br>

        <input type="text" name="qty" id="qty"
        placeholder="Quantity" class="form-control" [(ngModel)]="prdt.qty"/><br>

        <input type="date" name="dt" id="dt"
        class="form-control" [(ngModel)]="prdt.dt"/><br>

        <button type="button" (click)="addproduct()"> Add Product </button>
    </form>
</div>



<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6">
      <h5> Cart Component </h5>
        <span> {{childstr}} </span>
        <br>
        <app-cart [pr]="prdt" (child)="fetchcartstr($event)"></app-cart>

    </div>
    <div class="col-lg-6">
          <h5>List of the products</h5>
          <app-listproducts [pt]="list" (delrec)="deleterecord($event)" ></app-listproducts>
  </div>

</div>
</div>
